.App {
  text-align: center;
}

.App-header {
  background-color: #1DB0BA;
  height: 20%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 20pt;
}

.App-intro {
  font-size: large;
}

.tab {
  font-size: 12pt;
  color: white;
  margin: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 10%;
  height: 40px;
}

.tab :hover {
  color: red;
}

.profilePic {
  display: inline;
  margin: 20px;
  height: 400px;
  border-radius: 50%;
}

